.dropdown-style {
  min-width: 140px;
}

.style-search {
  text-align: center;
}

input {
  min-width: 200px;
}
.ui-size {
  font-size: xx-large;
}

.ui-label {
  font-size: large;
}

.data-view {
  text-align:right
}

.panel-header {
  text-align:center
}
